html,
body {
  min-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.navWrapper {
  height: 55px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 10px #e2dede;
}

.navNavigation {
  height: 100%;
  display: grid;
  grid-template-columns: 200px auto 300px;
  grid-template-rows: 50px;
  /* align-items: center; */
}
.navMenuButton {
  cursor: pointer;
  float: left;
}
.navMenuButtonBar1,
.navMenuButtonBar2,
.navMenuButtonBar3 {
  width: 30px;
  height: 2px;
  background-color: rgb(189, 182, 182);
  margin: 6px 0;
  transform: 0.3s;
}
.navTitle {
  display: flex;
  align-items: center;
  gap: 5px;
}


.navSiteName {
  font-family: "bold";
  font-size: 25px;
  padding: 0px 0px 0px 8px;
  color: #3a9691;
  text-shadow: -1px 0 rgb(136, 179, 151), 0 1px rgb(43, 70, 53),
    1px 0 rgb(43, 70, 53), 0 -1px rgb(43, 70, 53);
}
.navPintedInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navLogIn {
  font-family: europa-boldregular, sans-serif;
  text-decoration: none;
  background-color: #3a9691;
  color: white;
  font-size: 15px;
  border-radius: 22px;
  border: none;
  padding: 14px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.navLogoutBtn {
  color: rgb(213, 206, 206);
  background-color: rgb(192, 7, 7);
  border-style: hidden;
  border-radius: 23px;
  padding: 8px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 90px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sideNav {
  display: grid;
  grid-template-rows: 60px 50px 100px auto 100px;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  transition: width 0.05s linear;
  z-index: 2;
  padding: 0px;
}
.siteNameSideBar {
  padding: 15px;
}
.sideLinkNav a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #175a35;
  display: block;
  transform: 0, 3s;
}
.sideNav a:hover {
  color: rgb(20, 121, 87);
}
.sideNavCloseBth {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.sideNavLeftRigth {
  height: 3px;
  width: 40px;
  position: absolute;
  margin-top: 24px;
  background-color: rgb(19, 1, 1);
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.sideNavRightLeft {
  height: 3px;
  width: 40px;
  position: absolute;
  margin-top: 24px;
  background-color: rgb(19, 1, 1);
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

.sideNavCloseBth label {
  color: rgb(109, 48, 33);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
  opacity: 0;
}
.sideNavClose {
  margin: 50px 0 0 5px;
  position: absolute;
}

.sideNavCloseBth:hover .sideNavLeftRigth {
  transform: rotate(-45deg);
  background-color: rgb(19, 87, 36);
}
.sideNavCloseBth:hover .sideNavRightLeft {
  transform: rotate(45deg);
  background-color: rgb(19, 87, 36);
}
.sideNavCloseBth:hover label {
  opacity: 1;
}
.footerForSideNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #d8d0d0;
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 8px;
}

@media (max-width: 1000px) {
  .navNavigation {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    /* align-items: center; */
  }
}
